@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600i,700,700i,800,800i,900,900i');
body{
	// font-family: 'Quicksand', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	background: white;
	// color:#0085ff;
	h1{
		// font-weight:400;
		text-transform: uppercase;
		font-weight: 600;
	}
	p{
		font-size: 1rem;
	}
	img.paulo{
		-webkit-transition: all .5s linear;
		   -moz-transition: all .5s linear;
		    -ms-transition: all .5s linear;
		     -o-transition: all .5s linear;
		        transition: all .5s linear;
		        border-radius:50%;
		&:hover{
			filter: none;
		}
	}
}